<!-- <div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <h1><i class="fas fa-fish fa-3x" style="color:#2196F3;"></i></h1>
            <h1 class="font-weight-light">Fish Care</h1>
            <a href="/users/login" class="btn btn-primary btn-block">Login</a>
            <a href="/users/register" class="btn btn-secondary btn-block mb-2">Register</a>
        </div>
    </div>
</div> -->


<div class=" masthead d-flex">
    <div class="container text-center my-auto">
        <h1 class="mb-1 " style="color:white">Fish Care</h1>
        <h3 class="mb-5">
            <em style="color:white"> Login to Start Smart Fish tank </em>
        </h3>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="/users/login">Login</a>
    </div>

    <div class="overlay"></div>
</div>